<!DOCTYPE html>
<html>
  <head>
    <title>Server Error</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h2>Error: Server Error</h2>
    <p>Please contact Admin.</p>
  </body>
</html>
